/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 35px 0 35px;
  background:#2D97BA;
}
/* Make the masthead heading the same height as the navigation */
.header .text-muted{
  margin-top: 0;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  color:#FFF;
  font-family: Berkshire Swash;
  font-size: 40px;
  text-align:center;
}

.nav > li > a {
  color:#FFF;
}

.nav > li > a:hover {
  color:#2D97BA;
}

.nav > li.active > a{
  background:pink;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    padding:0px;
    width: 100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.glyphicon {
  margin-right:10px;
}

/* Main marketing message and sign up button */
.jumbowrap {
  width:100%;
  background: pink
}

.jumbowrap .jumbotron {
  background-image:url('images/cleaner.jpg');
  max-width: 730px;
  min-height:400px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  border-radius:0px;
  margin-left: auto;
  margin-right: auto;
  color:white;
  text-shadow: 1px 1px #000;
}

.jumbotron h2 {
  margin-top:200px;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.row.marketing {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
